lock '3.4.0'

set :application, 'mystiform'
set :repo_url, 'your_repo_url'

set :deploy_to, "/var/www/#{fetch(:application)}"

set :scm, :git

set :linked_files, fetch(:linked_files, []).push('config/database.yml', 'config/secrets.yml')
set :linked_dirs, fetch(:linked_dirs, []).push('log', 'tmp/pids', 'tmp/cache', 'tmp/sockets', 'vendor/bundle', 'public/system')

namespace :deploy do
  desc 'Restart application'
  task :restart do
    on roles(:app), in: :sequence, wait: 5 do
      execute :touch, release_path.join('tmp/restart.txt')
    end
  end

  after :publishing, :restart
end

after "deploy:restart", "resque:restart"
after "resque:restart", "resque:scheduler:restart"
