default: &default
  redis: localhost:6379
  host: domain.dev
  exception_notification:
    sender: errors@domain.com
    recipient: you@domain.com
  devise:
    sender: mystiform@domain.com

development:
  <<: *default
  secret_key_base: generate_secret_key_base

test:
  <<: *default
  secret_key_base: generate_secret_key_base
